.mat-form-field{
  width: 280px;
}

.tbl-weather-details{
  font-size:11px;
  background: rgba(0, 0, 0, 0.63);
  color: #FFF;
  padding: 10px;
  tr,td{
    text-align: left;
  }
  th{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-decoration: underline;
  }
}

.mat-progress-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

